.footer {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

.socialMedia {
  margin-bottom: 10px;
}

.socialMedia > * {
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.socialMedia > *:hover {
  color: #888;
}
